</body>
<div class="container" id="ShowIdeasContainer">
  <div class="row">
    <div class="col">
      <div class="col"><h1>Title: <%= @idea.title %></h1>
        <p><strong>Description: </strong><%= @idea.description %> </p>
        <small> <strong>By:</strong> <%= @idea.user.full_name %> </small>
        <br/>
        <strong>Posted: <%= time_ago_in_words(@idea.created_at) %> ago</strong>
        <br/>
        <br/>
        <%= link_to 'Edit',edit_idea_path(@idea),class:"btn btn-dark",id:"EditideaComment" %>
        <%= link_to 'Delete', idea_path(@idea), method: :delete, data: {confirm: 'Are you sure?'},class:"btn btn-dark",id:"DeletetideaComment" %></div>
        <div class="w-100"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </div>
    <hr/>
    <div class="container" id="ShowIdeasContainer2">
      <div class="row">
        <div class="col">
          <% if user_signed_in? %>
          <%= simple_form_for [@idea,@ideascomment] do |f| %>
          <%= f.input :body, required: false, label: 'Comment', label_html: { class: 'abc' },id:"BodyCommentIdea" %>
          <%= f.submit 'Add Comment', class: 'btn btn-dark',id:"AddCommentIdea" %>
          <% end %>
          <% end %>
        </div>
    <div class="col"><% if @ideascomments.any? %>
      <div id="IdeaCommentsContainer">
        <h3 id="IdeaCommentsTitle"> Comments:  </h3>
        <% @ideascomments.each do |ideascomment| %>
        <strong>Description:</strong> <%= ideascomment.body %>
        <br/>
        <small><strong>Commented:</strong> <%= time_ago_in_words(ideascomment.created_at) %> ago</small>
        <br/>
        <small>By:<strong> <%= ideascomment.user.full_name %></strong> </small>
        <hr/>
        <% if user_signed_in? && can?(:delete, ideascomment) %>
        <small>
          <%= link_to "Delete",
          ideascomment_path(ideascomment),
          method: :delete, class: 'btn btn-dark',
          data: {
            confirm: "Are you sure?"
          }
          %>
        </small>
        <hr/>
        <% end %>
        <% end %>
        <% end %>
        </div>
    </div>
