<h1>My Profile </h1>
<hr/>
<h3>My Ideas: </h3>
<% if @my_ideas.count == 0 %>
<p> <strong>You haven't added any idea yet</strong> </p>
<%= link_to 'Add the first one',new_idea_path %>
<% else %>
<% @my_ideas.each do |mi| %>
<ul>
  <li>Title: <%= link_to mi.title,idea_path(mi) %> | (<%= mi.ideascomments.count %>) Comments</li>
</ul>
<hr/>
<% end %>
<% end %>
<hr/>
<h3>My Scraps: </h3>
<% if @my_scraps.count == 0 %>
<p> You haven't created an Scrap post yet </p>
<%= link_to 'Add the first one',new_scrap_path %>
<% else %>
<% @my_scraps.each do |ms| %>
<ul>
  <li><strong>Title:</strong> <%= link_to ms.title,scrap_path(ms),class:"card-title" %>| (<%= ms.scrapscomments.count %>) Comments</li>
</ul>
<hr/>
<% end %>
<% end %>
