<br/>
<body id="addScrapBody">
  <div class="container" id="AddScrapContainer">
    <div class="row" id="addScrap">
      <div class="col" id="boba">
        <div class="col">
        </div>
      </div>
      <div class="col" id="addScrap2nd2">
        <h3 id="ScrapTitle">Scrap</h3>
        <%= simple_form_for @scrap do |f| %>
        <strong><%= f.input :title, required: false, label_html: { class: 'abc',id: 'AddScrapTitle' } %></strong>
        <strong><%= f.input :description, required: false, label_html: { class: 'abc',id: 'AddScrapDescription' } %></strong>
        <strong id="AddImage"><%= f.input :image %></strong>
        <strong><%= f.submit 'Add Scrap', class: 'btn btn-warning',id:"AddScrapSubmit" %></strong>
        <% end %>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</div>
<div class="container" id="AddIdeaContainer2">
  <div class="row" id="addIdea">
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
</div>
</div>
</body>
