<h1><%= @scrap.title %></h1>
<p><%= @scrap.description %> </h1>
  <hr/>
<%= link_to 'Edit',edit_scrap_path(@scrap),class:"btn btn-info" %>
<%= link_to 'Delete', scrap_path(@scrap), method: :delete, data: {confirm: 'Are you sure?'},class:"btn btn-danger" %>
<%= simple_form_for [@scrap,@scrapscomment] do |f| %>
<%= f.input :body, required: false, label_html: { class: 'abc' } %>
<%= f.submit 'Add Comment', class: 'btn btn-secondary' %>
<% end %>
<hr/>
<h2> Commnets </h2>
<% @scrapscomments.each do |scrapscomment| %>
<p><%= scrapscomment.body %></p>
<small><%= time_ago_in_words(scrapscomment.created_at) %> ago</small>
<br/>
<small>By:<strong> <%= scrapscomment.user.full_name %></strong> </small>
<hr/>
<% if user_signed_in? && can?(:delete, scrapscomment) %>
  <small>
    <%= link_to "Delete",
    scrapscomment_path(scrapscomment),
    method: :delete,
    data: {
      confirm: "Are you sure?"
    }
    %>
  </small>
  <% end %>
<% end %>
